{% extends 'teacher_base.html.twig' %}

{% block content %}
    <div class="row"style="  background-color: rgba(0,2,10,0.5) !important;">
        <div class="col-sm-4">
            <div class="b5"><a href="{{path('cheyrek')}}"><h1 style="font-size: 100px ">5</h1></a></div>
            <div class="b6"><a href="{{path('cheyrek')}}"><h1 style="font-size: 100px ">6</h1></a></div>
            <div class="b7"><a href="{{path('cheyrek')}}"><h1 style="font-size: 100px ">7</h1></a></div>
            <div class="b8"><a href="{{path('cheyrek')}}"><h1 style="font-size: 100px ">8</h1></a></div>
            <div class="b9"style="float:left; margin-top: -510px; margin-left: 150px;"><a href="{{path('cheyrek')}}"><h1 style="font-size: 100px ">9</h1></a></div>
            <div class="b10"style="float:left;margin-top: -350px; margin-left: 150px;"><a href="{{path('cheyrek')}}"><h1 style="font-size: 100px ">10</h1></a></div>
            <div class="b11"style="float:left;margin-top: -150px; margin-left: 150px;"><a href="{{path('cheyrek')}}"><h1 style="font-size: 100px ">11</h1></a></div>
        </div>
        <div class="col-sm-4">
            <img src="https://www.saintmarys.edu/files/2017/11/mathematics.jpg " style="margin-left:70px; margin-top: 150px; width:100%;">
        </div>

    </div>

{% endblock %}